# =========================
# NODE MODULES
# =========================
node_modules/

# =========================
# ENV FILES (IMPORTANT 🔒)
# =========================
.env
.env.*
!.env.example

# =========================
# LOG FILES
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMP / UPLOADS
# =========================
uploads/
tmp/
temp/

# =========================
# BUILD FILES
# =========================
dist/
build/

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# CACHE
# =========================
.cache/